# General
.DS_Store
.AppleDouble
.LSOverride
Icon


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm/

# Go (Backend)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Test binary, built with `go test -c`
*.test
server
test.sh

# Go workspace file
go.work

# Validated env files
.env
.env.production
.env.development
.env.test

# Build artifacts
build/
bin/
tmp/
temp/

# .gitignore file at the root of your project
frontend/node_modules

# Backend specific ignores (in a 'backend' folder)
backend/build/

# Frontend specific ignores (in a 'frontend' folder)
frontend/node_modules/

# .env files
.env
.env.*
!.env.example

# Docker Volumes & Databases
postgres-data/
capuchin-db-data/
db-data/
volume/

# Terraform (if deployed later)
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Mac OS & IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# personal 
docs/ideas.md
backup/
.kiro


# removing for now
.github/
